<footer class="site-footer">
    <div class="inner footer-content">
        <div class="social-icons" aria-label="Social media links">
        <a href="https://bsky.app/profile/taytayheyheyva.bsky.social" target="_blank" rel="noopener noreferrer" aria-label="Bluesky">
            <img src="images/icons/bluesky.svg" alt="" />
        </a>

        <a href="https://www.twitch.tv/taytayheyheyva" target="_blank" rel="noopener noreferrer" aria-label="Twitch">
            <img src="images/icons/twitch.svg" alt="" />
        </a>

        <a href="https://www.podchaser.com/creators/taylor-michaels-107to2YTFA" target="_blank" rel="noopener noreferrer" aria-label="Podchaser">
            <img class="custom-icon" src="images/icons/podchaser.svg" alt="" />
        </a>

        <a href="https://www.youtube.com/@taytayheyheyva" target="_blank" rel="noopener noreferrer" aria-label="YouTube">
            <img src="images/icons/youtube.svg" alt="" />
        </a>

        <a href="mailto:taylormichaels.va@gmail.com" aria-label="Email">
            <img src="images/icons/gmail.svg" alt="" />
        </a>
        </div>
    </div>

    <div class="inner">
        <p>© Taylor Michaels - 2026</p>
    </div>
</footer>